<div>
  <%= image_tag("alphacamp.jpg") %>
</div>
<div class="row">
  <div class="col-md-12">
    <h3 class="text-info">主題推薦</h3><% @categories.each do |cate| %>
    <div class="col-md-3">
      <span><%= link_to cate.name, events_path( :cid => cate.id ) %></span>
    </div><% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12"><h3 class="text-info">為你推薦</h3>
  <% @events.each do |event| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= link_to event.name, event_path(event) %></h3>
        <p><%= event.attendees.count%></p>
        <p><%= link_to "參加者", new_event_attendee_path(event), :class => "btn btn-primary" %></p>
      </div>
    </div>
  </div><% end %>
</div>
</div>