<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="active"><%= link_to "Edit", edit_event_path(@event)%></li>
  <li role="presentation"><%= link_to "Delete", event_path(@event), method: :delete %></li>
</ul>


<h2><%= "Event Name: #{@event.name}"%></h2>
<h3><span>Event Description:</span></h3>
<%= @event.description %>
<%= simple_format(@event.description) %>

<h5>Category:</h5>
<% @event.categories.each do |c| %>
  <%= c.name %>
<% end %>

<div>
  <h3>Attendees:</h3>
  <% @attendees.each do |att| %>
  <%= "#{att.name}, " %>
  <% end %>
</div>

<h3>Comment:</h3>
<% @event.comments.each do |com| %>
<div>
  <%= com.comment %>
  <%= link_to "Delete", event_comment_path(com.event, com), method: :delete %>
</div>
<% end %>

<%= simple_form_for Comment.new, :url => event_comments_path(@event) do |f|%>
  <%= f.input :comment, placeholder: "type comment here...." %>
  <%= f.button :submit %>
<% end %>