<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="active"><%= link_to "Edit", edit_event_path(@event)%></li>
  <li role="presentation"><%= link_to "Delete", event_path(@event), method: :delete %></li>
</ul>


Category:
<% @event.categories.each do |c| %>
  <%= c.name %>
<% end %>


<h2><%= @event.name %></h2>
<h3><span>活動介紹</span></h3>
<%= @event.description %>
<%= simple_format(@event.description) %>

<div>
  <h3>Attendee:</h3>
</div>

Comment:
<% @event.comments.each do |com| %>
  <%= com.comment %>
  <%= link_to "Delete", event_comment_path(com.event, com), method: :delete %>
<% end %>

<%= form_for Comment.new, :url => event_comments_path(@event) do |f| %>
  <%= f.text_field :comment %>
  <%= f.submit %>
<% end %>

<%= link_to "New Comment", new_event_comment_path(@event) %>

<p><%= link_to 'Back', events_path, :class => "btn btn-primary" %></p>
