<!DOCTYPE html>
<html>
<head>
  <title>Bccupass</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div><%= link_to "Bccupass", events_path, :class =>"navbar-brand" %></div>
        <ul class="nav navbar-nav">
          <li><%= link_to "找活動", explore_events_path %></a></li>
          <li><%= link_to "辦活動", new_event_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
               <li><%= link_to "Hi! #{current_user.try(:email)}", account_events_path %></li>
               <li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
               <li><%= link_to('修改密碼', edit_registration_path(:user)) %></li>
            <% else %>
               <li><%= link_to('註冊', new_registration_path(:user)) %></li>
               <li><%= link_to('登入', new_session_path(:user)) %></li>
            <% end %>
        </ul>
      </div>
    </nav>
    <!-- nav -->
  <div class="container">
    <%= yield %>
  </div>



</body>
</html>
